@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family:
      ui-sans-serif,
      system-ui,
      -apple-system,
      'Segoe UI',
      Roboto,
      'Noto Sans',
      'Nirmala UI',
      sans-serif;
  }

  :focus-visible {
    outline: 2px solid theme('colors.indigo.950');
    outline-offset: 2px;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
}
